
<div>
    <div class="title">
        <h1>MyBooks</h1>
    </div>
    <div class="pages">
        <a routerLink="home">Home</a>
        <p>|</p>
        <a routerLink="login">Login</a>
        <p>|</p>
        <a routerLink="register">Registro</a>
        <p>|</p>
        <a routerLink="profile">Perfil</a>
        <p>|</p>
        <a routerLink="books">Libros</a>
        <p>|</p>
        <a routerLink="addBook">Añadir Libro</a>
        <p>|</p>
        <a routerLink="updateBook">Modificar Libro</a>
    </div>
</div>
