
<div>
    <div class="title">
        <h1>MyBooks</h1>
    </div>
    <div class="pages">
        <a routerLink="home" routerLinkActive="active">Home</a>
        <p>|</p>
        <a routerLink="login" routerLinkActive="active">Login</a>
        <p>|</p>
        <a routerLink="register" routerLinkActive="active">Registro</a>
        <p>|</p>
        <a routerLink="profile" routerLinkActive="active">Perfil</a>
        <p>|</p>
        <a routerLink="books" routerLinkActive="active">Libros</a>
        <p>|</p>
        <a routerLink="addBook" routerLinkActive="active">Añadir Libro</a>
        <p>|</p>
        <a routerLink="updateBook" routerLinkActive="active">Modificar Libro</a>
    </div>
</div>
